@import "../../assets/scss/_variables.scss";

.breadcrumbs {
	display: -webkit-flex;
 	display: flex;
    -webkit-flex-direction: row;
 	flex-direction: row; 	
    flex-wrap: wrap;

    padding: 8px 8px 8px 15px;
    margin: 0;
    background: #3a5aa0;
    border-radius: 0;
 	
    &__record {
        padding-right: 5px;   
        color: #fff;     
        a {
           color: #fff;
           text-decoration: none; 
        }
        a:hover{
            text-decoration: underline; 
        }
    }
    &__record_not-first::before {
        content: " / "; 
   }
}
