@import "../../assets/scss/_variables.scss";
.about-us {
	.container {
		margin: 0 auto;
		text-align: left;
		/*Для политики конфиденциальности*/
		&__privacy-policy {
			max-width: 1000px;
			@include tablet {
				max-width: 750px;
			}
			@include mobile {
				margin-right: auto;
			    margin-left: auto;
			    padding-left: 15px;
			    padding-right: 15px;
			}
			h3 {
				font-weight: 400;
				font-size: 26px;
				margin-top: 21px;
			    margin-bottom: 10.5px;
			    font-family: inherit;
			    line-height: 1.1;
			    color: inherit;
			}
			p {
				margin: 0 0 10.5px;			
			}
		}
		&__cancelation {
			max-width: 778px;
			margin-bottom: 21px;
			margin-top: 21px;
		    background-color: #fff;
		    border: 1px solid transparent;
		    border-radius: 4px;
		    box-shadow: 0 1px 1px rgba(0,0,0,.05);
		    border-color: #ddd;
			@include tablet {
				max-width: 595px;
			}
			@include mobile {				
			    margin-left: 15px;
			    margin-right: 15px;
			}			    
			.panel-header {
				padding: 10px 15px;
			    border-bottom: 1px solid transparent;
			    border-top-right-radius: 3px;
			    border-top-left-radius: 3px;
			    color: #333;
			    background-color: #f5f5f5;
			    border-color: #ddd;
			}
			.panel-body {
				padding: 15px
			}	
		}
	}

}

