
.info {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    &__column {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        max-width: 150px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px; 
        &__title {
            font-size: 19px;
            font-weight: 500;
            line-height: 1.1;
            color: inherit;
            font-family: inherit;
            margin-bottom: 10px;
        }
        &__link {
            color: #999;
            text-decoration: none;
            font-weight: 400;
            line-height: 25px;
            &:hover{
                color: white;
            }
        }
    }
}