<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/static/img/favicon.ico">
    
		<link href="/static/css/catalog.6f9eb23370821beb743d.css" rel="stylesheet">
	
    <title>Каталог</title>
</head>
<body>
    <div id= 'root'>  </div> <!--Запихать сюда данные о том, что ещё идёт загрузка-->
    
		<script src="/static/js/vendors.6f9eb23370821beb743d.js"></script>
	
		<script src="/static/js/catalog.6f9eb23370821beb743d.js"></script>
	
</body>
</html>
