<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<link rel="icon" href="assets/img/favicon.ico">-->
    
		<link href="/static/css/course.a9e10218f8a99520794c.css" rel="stylesheet">
	
    <title>Курс</title>
</head>
<body>

    
        <input type="hidden" id="nameCourse" value="{{ nameCourse }}">
        <input type="hidden" id="nameTrainingPrograms" value="{{ nameTrainingPrograms }}">
    
    
    <div id= 'root'>  </div> <!--Запихать сюда данные о том, что ещё идёт загрузка-->
    
		<script src="/static/js/vendors.a9e10218f8a99520794c.js"></script>
	
		<script src="/static/js/course.a9e10218f8a99520794c.js"></script>
	
</body>
</html>
