<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="assets/img/favicon.ico">
    
		<link href="/static/css/app.127f119ab1076d070f0e.css" rel="stylesheet">
	
    <title>Test webpack</title>
    
</head>
<body style="margin: 0;">
    <div id = 'root'>
    </div>
    
		<script src="/static/js/vendors.127f119ab1076d070f0e.js"></script>
	
		<script src="/static/js/app.127f119ab1076d070f0e.js"></script>
	
</body>
</html>
