<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/static//img/favicon.ico">
    
		<link href="/static/css/app.c050748ab39c73f09df4.css" rel="stylesheet">
	
    <title>Webucator</title>
</head>
<body>    
    <div id = 'root'>
    </div>
    
		<script src="/static/js/vendors.c050748ab39c73f09df4.js"></script>
	
		<script src="/static/js/app.c050748ab39c73f09df4.js"></script>
	
</body>
</html>
