<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/static/img/favicon.ico">
    
		<link href="/static/css/news.2ddf287253d555c9bbd5.css" rel="stylesheet">
	
    <title>Новости</title>
</head>
<body>

    
        <input type="hidden" id="newsCode" value="{{ newsCode }}">
    
    
    <div id= 'root'>  </div> <!--Запихать сюда данные о том, что ещё идёт загрузка-->
    
		<script src="/static/js/vendors.2ddf287253d555c9bbd5.js"></script>
	
		<script src="/static/js/news.2ddf287253d555c9bbd5.js"></script>
	
</body>
</html>
