@import "../../assets/scss/_variables.scss";
.training-programs {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	margin-top: 55px;
	max-width: 1360px;
	@include tablet {
		max-width: 570px;
	}
}