@import "_variables.scss";
$src-open-sans: $PARH_RESOURCE +'fonts/openSans/open-sans.ttf';

@font-face {
    font-family: 'Open Sans'; 
    src: url($src-open-sans);
}
@mixin open-sans {
	font-family: 'Open Sans', sans-serif;
}

